
@{
    ViewData["Title"] = "Ind";

}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Account</a> |
    <a asp-action="login">Login</a> |
    <a asp-action="logout" asp-controller="user">Logout</a>

</p>